<div class="container">
    <div class="row">
        {{!-- <h2>signup</h2> --}}
        {{!-- 
            todo: add input required
                : verify email
         --}}

        <div class="jumbotron">
            <h4 class="display-4">Registration</h4>
            <p class="lead">Create new, free account.</p>
            <hr class="my-4">
        </div>

        <form action="/signIn" method="POST">
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10"> 
                    {{!-- Yessenia_Kreiger81 && Ashly_Renner--}}
                    <input type="text" class="form-control" name="username" id="username" value="Yessenia_Kreiger81" placeholder="Username">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" value="password" placeholder="Password">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <a href="/" type="submit" class="btn btn-warning">Cancel</a>
                </div>
            </div>
            {{#if error}} 
            <div class="alert alert-danger" role="alert">
                {{error.message}}
            </div>
            {{/if}}
        </form>
    </div>
</div>