.text-warning {
    font-family: 'Crimson Text', serif;
}

.success {
    color: skyblue;
    font-family: 'Playfair Display', serif;
}

.col-sm-8{
    /*background-color: #a5f144;*/
    font-family: 'PT Serif', serif;
}
body{
    font-family: 'Crimson Text', serif;
}
/*Available fonts
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Crimson Text', serif;
font-family: 'Alegreya', serif;*/

.enough {
    background-color: green;
}

.notEnough {
    background-color: skyblue;
}
