/*Available fonts
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Crimson Text', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Alegreya', serif;*/


body{
    font-family: 'Playfair Display', serif;
}


tr, th, table {
    /*border: 1px solid black;*/
    /*font-family: 'Cormorant Garamond', serif;*/
    color: white;
}
